{extend name="desktop/common/base" /}
{block name="seo"}
<title>{$BaseSetting.title} - mintHouz</title>
<meta name="description" content="{$BaseSetting.description}">
<meta name="keywords" content="{$BaseSetting.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="{{frontend}}/desktop/css/page/About.css">
{/block}

{block name="body"}
<div class="About-menu">
    <ul class="common-width">
        {volist name="list" id="vo"}
        <li class="menu-item {if($current == $vo.url)}active{/if}"><a href="/{$code}/about/{$vo.url}">{$vo.title}</a></li>
        {/volist}
    </ul>
</div>
{$data.desktop|raw}
{/block}

<!--私有业务开始-->
{block name="javascript"}
<script>

</script>
{/block}
<!--私有业务结束-->