/**
* @name: home.less
* @description: 公共模块css
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2020-05-28 10:23
*/
.banner .swiper-wrapper .swiper-slide {
  position: relative;
}
.banner .swiper-wrapper .swiper-slide .img-box img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.banner .swiper-pagination-bullet-active {
  background: #00A82D;
}
.banner .img-box {
  position: relative;
}
.banner .img-box .des {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 0 10px;
  font-size: 18px;
  color: #333;
  text-align: center;
}
/*.hot {
    margin: 10px;
    .min-list .min-item {
        position: relative;
        margin-bottom: 10px;
        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
        img {
            .img-responsive();
            .center-block();
        }
        .des {
            position: absolute;
            top: 20%;
            left: 0;
            z-index: 1;
            width: 50%;
            padding: 0 10px;
            font-size: 16px;
            color: @whiteSmoke;
        }
    }
}*/
.hot {
  margin: 10px;
}
.hot .hot-title {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 68px auto 40px;
  font-weight: 600;
}
.hot .hot-title span {
  padding: 0 30px;
  background: #f5f5f5;
}
.hot .hot-title:before,
.hot .hot-title:after {
  content: '';
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 40%;
  height: 2px;
  background: #00A82D;
}
.hot .hot-title:before {
  left: 10%;
}
.hot .hot-title:after {
  right: 10%;
}
.hot .min-list .min-item {
  margin-bottom: 10px;
}
.hot .min-list .min-item:nth-last-of-type(1) {
  margin-bottom: 0;
}
.hot .min-list .min-item img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.newProductbefore,
.newProduct:after {
  content: " ";
  display: table;
  zoom: 1;
}
.newProduct:after {
  clear: both;
}
.newProduct h3 {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 68px auto 40px;
  font-weight: 600;
}
.newProduct h3 span {
  padding: 0 30px;
  background: #f5f5f5;
}
.newProduct h3:before,
.newProduct h3:after {
  content: '';
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 40%;
  height: 2px;
  background: #00A82D;
}
.newProduct h3:before {
  left: 10%;
}
.newProduct h3:after {
  right: 10%;
}
.newProduct img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  .hot {
    margin: 5px;
  }
  .hot .min-list .min-item {
    margin-bottom: 5px;
  }
}
