/**
* @name: home.less
* @description: 公共模块css
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2020-05-28 10:23
*/
@import "../public/mixins";
@import "../public/variables";

.banner {
    .swiper-wrapper .swiper-slide {
        position: relative;
        .img-box img {
            .img-responsive();
            .center-block();
        }
    }
    .swiper-pagination-bullet-active {
        background: @activeColor;
    }
}

.hot {
    margin: 10px;
    .min-list .min-item {
        margin-bottom: 10px;
        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
        img {
            .img-responsive();
            .center-block();
        }
    }
}

.star {
    text-align: center;
    h3 {
        position: relative;
        z-index: 1;
        text-align: center;
        margin: 68px auto 40px;
        font-weight: 600;
        span {
            padding: 0 30px;
            background: @bodyBgColor;
        }
        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            z-index: -1;
            width: 40%;
            height: 2px;
            background: @activeColor;
        }
        &:before {
            left: 10%;
        }
        &:after {
            right: 10%;
        }
    }
    .star-list {
        .clearFix();
    }
    .star-list .left, .star-list .right {
        .fl();
        width: 50%;
    }
    .star-list .star-item {
        float: left;
        box-sizing: border-box;
        img {
            #transition(box-shadow .2s linear);
            .img-responsive();
            .center-block();
        }
        &:hover img {
            box-shadow: 0 8px 16px rgba(0, 168, 45, .18);
        }
    }
    .star-list .left .star-item {
        padding-right: 1px;
    }
    .star-list .right .star-item:nth-of-type(1) {
        width: 50%;
        padding-right: .5px;
    }
    .star-list .right .star-item:nth-of-type(2) {
        width: 50%;
        padding-left: .5px;
    }
    .star-list .right .star-item:nth-of-type(3) {
        margin-top: 1px;
    }
}

.video {
    .clearFix();
    h3 {
        position: relative;
        z-index: 1;
        text-align: center;
        margin: 68px auto 40px;
        font-weight: 600;
        span {
            padding: 0 30px;
            background: @bodyBgColor;
        }
        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            z-index: -1;
            width: 40%;
            height: 2px;
            background: @activeColor;
        }
        &:before {
            left: 10%;
        }
        &:after {
            right: 10%;
        }
    }
    .swiper-wrapper .swiper-slide {
        position: relative;
        .img-box img {
            .img-responsive();
            .center-block();
        }
    }
    .swiper-pagination-bullet-active {
        background: @activeColor;
    }
    .img-box {
        position: relative;
    }
    .img-box img {
        transition: box-shadow .2s linear;
        .img-responsive();
        .center-block();
    }
    .img-box .icon-box {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9999;
        margin-left: -30px;
        margin-top: -30px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
        background: rgba(255, 255, 255, .1);
        #transition(background .2s linear);
        .iconfont {
            display: block;
            font-size: 30px;
            color: @activeColor;
        }
    }
}