/**
* @name: product-detail.less
* @description: 公共模块css
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2020-06-03 11:40
*/
@import "../public/mixins";
@import "../public/variables";

.product-container {
  .nav-active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: @whiteColor;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
  }
}

/* 產品畫廊 */
.product-gallery {
  h3 {
    .text-overflow();
    padding: 0 10px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 700;
    background: @whiteColor;
    border-bottom: 1px solid @borderColor;
  }

  .swiper-wrapper .swiper-slide {
    position: relative;

    img {
      .img-responsive();
      .center-block();
    }
  }

  .swiper-pagination-bullet-active {
    background: @activeColor;
  }
}

/* 產品導航 */
.product-nav {
  overflow: hidden;
  background: @whiteColor;
  border-top: 1px solid @borderColor;
  border-bottom: 1px solid @borderColor;

  h3 {
    .text-overflow();
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 700;
  }

  .sub_nav {
    width: 100%;
    padding: 15px 10px;
    display: inline;
    white-space: nowrap;
    overflow-x: scroll;
    float: left;
    overflow-y: hidden;

    span {
      display: inline-block;
      color: @activeColor;

      &:nth-of-type(1) {
        margin-right: 10px;
      }
    }

    .active {
      color: @whiteSmoke;
    }

    a {
      display: block;
      height: 24px;
      line-height: 24px;
      margin: 18px 0;
      padding: 0 10px;
      background: @activeColor;
      color: @whiteColor;
    }
  }
}

/* 產品描述 */
.product-Detail {
  .img-box img {
    .center-block();
    .img-responsive();
  }

  .des-box {
    padding: 40px 10px 20px;
    background: @whiteColor;

    h3 {
      font-size: 16px;
    }

    p {
      margin-top: 10px;
      font-size: 14px;
      color: @whiteSmoke;
      line-height: 22px;
    }
  }
}
