/**
* @name: product-detail.less
* @description: 公共模块css
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2020-06-03 11:40
*/
.product-container .nav-active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
/* 產品畫廊 */
.product-gallery h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 10px;
  line-height: 60px;
  font-size: 18px;
  font-weight: 700;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
}
.product-gallery .swiper-wrapper .swiper-slide {
  position: relative;
}
.product-gallery .swiper-wrapper .swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.product-gallery .swiper-pagination-bullet-active {
  background: #00A82D;
}
/* 產品導航 */
.product-nav {
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.product-nav h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 15px 10px;
  font-size: 16px;
  font-weight: 700;
}
.product-nav .sub_nav {
  width: 100%;
  padding: 15px 10px;
  display: inline;
  white-space: nowrap;
  overflow-x: scroll;
  float: left;
  overflow-y: hidden;
}
.product-nav .sub_nav span {
  display: inline-block;
  color: #00A82D;
}
.product-nav .sub_nav span:nth-of-type(1) {
  margin-right: 10px;
}
.product-nav .sub_nav .active {
  color: #888;
}
.product-nav .sub_nav a {
  display: block;
  height: 24px;
  line-height: 24px;
  margin: 18px 0;
  padding: 0 10px;
  background: #00A82D;
  color: #fff;
}
/* 產品描述 */
.product-Detail .img-box img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}
.product-Detail .des-box {
  padding: 40px 10px 20px;
  background: #fff;
}
.product-Detail .des-box h3 {
  font-size: 16px;
}
.product-Detail .des-box p {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
  line-height: 22px;
}
/* 參數 */
.product-Specifications #specification {
  background: #fff;
}
.product-Specifications #specification ul {
  width: 100%;
}
.product-Specifications #specification ul > li {
  line-height: 50px;
  border-bottom: 1px solid #eaeaea;
}
.product-Specifications #specification ul > li > strong {
  padding: 0 10px;
  color: #333;
}
.product-Specifications #specification ul > li.li_title > strong {
  font-weight: 700;
}
.product-Specifications #specification ul > li > div {
  padding: 0 10px 10px;
  border-left: 1px solid #eaeaea;
}
.product-Specifications #specification ul > li > div > p {
  color: #888;
  font-size: 12px;
  line-height: 24px;
}
