{extend name="mobile/common/base" /}
<title>{$data.title} - mintHouz</title>
{block name="seo"}
<title>{$BaseSetting.title} - mintHouz</title>
<meta name="description" content="{$BaseSetting.description}">
<meta name="keywords" content="{$BaseSetting.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="{{frontend}}/lib/Swiper/swiper.min.css">
<link rel="stylesheet" href="{{frontend}}/mobile/css/page/Product-detail.css">
{/block}

{block name="body"}
<div class="product-container">
    <div class="product-nav">
        <h3>{$data.title}</h3>
    </div>

    <div class="product-Detail" id="product-Detail">
        {$data.content.mobile|raw}

        {$data.specifications}
    </div>
</div>
{/block}

<!--私有业务开始-->
{block name="javascript"}
<script src="{{frontend}}/lib/Swiper/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {    //可选选项，自动滑动
            delay: 8000,   //自动滑动间隔
            stopOnLastSlide: false,//如果设置为true，当切换到最后一个slide时停止自动切换。（loop模式下无效）。
            disableOnInteraction: false//用户操作swiper之后，是否禁止autoplay。默认为true：停止。
        },
        speed: 1000,
        pagination: {   //分页器
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {  //左右箭头
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            hideOnClick: true,
        },
        grabCursor: true,//鼠标变手
        parallax: true,//dl过度效果
    });
</script>
{/block}
<!--私有业务结束-->
