{extend name="mobile/common/base" /}
<title>{$data.title} - mintHouz</title>
{block name="seo"}
<title>{$BaseSetting.title} - mintHouz</title>
<meta name="description" content="{$BaseSetting.description}">
<meta name="keywords" content="{$BaseSetting.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="{{frontend}}/lib/Swiper/swiper.min.css">
<link rel="stylesheet" href="{{frontend}}/mobile/css/page/Product-detail.css">
{/block}

{block name="body"}
<div class="product-container">

    <!--<div class="product-gallery">
        <h3>Rechargeable Battery Operated Fan With 3 Speeds</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Scale/1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Scale/2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Scale/3.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Scale/4.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Scale/5.jpg" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>&lt;!&ndash;分页器&ndash;&gt;
            <div class="swiper-button-prev"></div>&lt;!&ndash;左箭头&ndash;&gt;
            <div class="swiper-button-next"></div>&lt;!&ndash;右箭头&ndash;&gt;
        </div>
    </div>-->

    <div class="product-nav">
        <h3>{$data.title}</h3>
        <div class="sub_nav">
            <span class="active">Overview</span>
            <span>Specs</span>
<!--            <span><a href="#">Amazon</a></span>-->
<!--            <span><a href="#">Newegg</a></span>-->
        </div>
    </div>

    <div class="product-Detail" id="product-Detail">
        {$data.content.mobile|raw}

        {$data.specifications}
    </div>
</div>
{/block}

<!--私有业务开始-->
{block name="javascript"}
<script src="{{frontend}}/lib/Swiper/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {    //可选选项，自动滑动
            delay: 8000,   //自动滑动间隔
            stopOnLastSlide: false,//如果设置为true，当切换到最后一个slide时停止自动切换。（loop模式下无效）。
            disableOnInteraction: false//用户操作swiper之后，是否禁止autoplay。默认为true：停止。
        },
        speed: 1000,
        pagination: {   //分页器
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {  //左右箭头
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            hideOnClick: true,
        },
        grabCursor: true,//鼠标变手
        parallax: true,//dl过度效果
    });

    function productNav() {
        var document_sT = $(document).scrollTop(),
            notice = $('.g-notice').outerHeight() || 0,
            nav = $('.g-hd .nav').outerHeight() || 0,
            gallery = $('.product-gallery').outerHeight() || 0;
        var topHeight = notice + nav + gallery;
        if (document_sT > topHeight) {
            $('.product-nav').addClass('nav-active');
            $('.product-Detail').css('paddingTop', '60px')
        }
        $(window).bind("scroll", function () {
            var document_sT = $(document).scrollTop();
            if (document_sT > topHeight) {
                $('.product-nav').addClass('nav-active');
                $('.product-Detail').css('paddingTop', '60px')
            } else {
                $('.product-nav').removeClass('nav-active');
                $('.product-Detail').css('paddingTop', '0')
            }
        });
    }

    function navTableChange () {
        var subNav = $('.sub_nav span'),
            overviewDom = $('.product-Detail'),
            SpecificationsDom = $('.product-Specifications');
        subNav.click(function () {
            var a = $(this).index();
            if (a === 0) {
                overviewDom.css('display', 'block');
                $(this).addClass('active');
                SpecificationsDom.css('display', 'none');
                $(this).siblings('span').removeClass('active');
            } else if (a === 1) {
                overviewDom.css('display', 'none');
                $(this).addClass('active');
                SpecificationsDom.css('display', 'block');
                $(this).siblings('span').removeClass('active');
            }
        });
    }

    $(function () {
        productNav();
        navTableChange();
    });
</script>
{/block}
<!--私有业务结束-->
