{extend name="mobile/common/base" /}
<title>{$data.title} - mintHouz</title>
{block name="seo"}
<title>{$BaseSetting.title} - mintHouz</title>
<meta name="description" content="{$BaseSetting.description}">
<meta name="keywords" content="{$BaseSetting.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="{{frontend}}/mobile/css/page/Product-list.css">
{/block}

{block name="body"}
<div class="g-path">
    <ul>
        <li><a href="/">Home</a></li>
        <li> > </li>
        <li><a href="/{$code}/product/index.html">Product</a></li>
    </ul>
</div>

<div class="product-container">
    <div class="product-list">
        <div class="title">
            <h3><span class="iconfont iconarrow-down"></span> USB Fan</h3>
        </div>
        <div class="list-box">
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Fan1</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
        </div>
    </div>
    <div class="product-list">
        <div class="title">
            <h3><span class="iconfont iconarrow-down"></span> USB Fan</h3>
        </div>
        <div class="list-box">
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
        </div>
    </div>
    <div class="product-list">
        <div class="title">
            <h3><span class="iconfont iconarrow-down"></span> USB Fan</h3>
        </div>
        <div class="list-box">
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                    <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                </a>
            </div>
        </div>
    </div>
</div>
{/block}

<!--私有业务开始-->
{block name="javascript"}
<script>
    $(function () {
        $('.product-container .product-list .title h3').click(function () {
            $(this).parent('.title').siblings('.list-box').stop(true, false).slideToggle();
            $(this).find('.iconfont').toggleClass("iconarrow-down").toggleClass("iconarrow-up");
        })
    })
</script>
{/block}
<!--私有业务结束-->