<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>productList - minthouz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{frontend}}/lib/Swiper/swiper.min.css">
    <link rel="stylesheet" href="{{frontend}}/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="{{frontend}}/mobile/css/public/components.css">
    <link rel="stylesheet" href="{{frontend}}/mobile/css/page/Product-list.css">
</head>
<body>

<header class="g-hd">

    <div class="nav" id="nav">
        <div class="logo">
            <h1>
                <a href="#">
                    <img src="{$BaseSetting.logo}" alt="">
                </a>
            </h1>
        </div>

        <div class="menu-bar" id="menu-bar">
            <span></span>
        </div>
    </div>

    <div class="menu-box" id="menu-box">
        <ul class="menu-list">
            <li class="menu-item">
                <a class="item-link" href="./product-list.html">All Products</a>
            </li>
            <li class="menu-item">
                <a class="item-link" href="./product-list.html">USB Fan</a>
            </li>
            <li class="menu-item">
                <a class="item-link" href="./product-list.html">Table Lamp</a>
            </li>
            <li class="menu-item">
                <a class="item-link" href="./product-list.html">Holder</a>
            </li>
            <li class="menu-item">
                <a class="item-link" href="./product-list.html">Humidifier</a>
            </li>
            <li class="menu-item">
                <a class="item-link" href="./product-list.html">Aromatherapy Diffuse</a>
            </li>
            <li class="menu-item">
                <a class="item-link" href="#">Store <span class="iconfont iconarrow-down"></span></a>
                <ul class="child-menu">
                    <li class="menu-item"><a class="item-link" href="#">Amazon</a></li>
                    <li class="menu-item"><a class="item-link" href="#">Newegg</a></li>
                </ul>
            </li>
        </ul>
    </div>

</header>

<section>

    <div class="g-path">
        <ul>
            <li><a href="#">Home</a></li>
            <li> > </li>
            <li><a href="#">Product</a></li>
        </ul>
    </div>

    <div class="product-container">
        <div class="product-list">
            <div class="title">
                <h3><span class="iconfont iconarrow-down"></span> USB Fan</h3>
            </div>
            <div class="list-box">
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/afa28e7477639537f556eb46e3ca5f43.jpeg" alt="">
                        <p>Redmi 10X 4G</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d12361002299529816e7e0a6b74e0a25.jpg" alt="">
                        <p>Redmi 10X 5G 系列</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/cc563c76a7383d8030d1c23f31c60cb9.png" alt="">
                        <p>小米10 青春版</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/92b463f8e502e5d26ac488a252a05b58.jpg" alt="">
                        <p>Redmi K30 Pro</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/461bf013d08a7a91423cafcbc5ff9339.jpg" alt="">
                        <p>Redmi K30 Pro 变焦版</p>
                    </a>
                </div>

                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/3a3e4238b70ef8db89ae77f8a3762fc8.png" alt="">
                        <p>落地风扇</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/0bf0ba35dc3ad57115c59f0ebde0fd1d.jpg" alt="">
                        <p>料理机</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/4e9da27ebbeeb38078910c97173c4671.jpg" alt="">
                        <p>滑板车</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/50180b158690a40f9cbc684c7646d297.jpg" alt="">
                        <p>平衡车</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2cb10391d6527bf64126a63446a38e2e.jpg" alt="">
                        <p>早教启智</p>
                    </a>
                </div>

                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/59d3a701ac0bbb78f1b1d0ea7ebc7505.jpg" alt="">
                        <p>驱蚊器</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/bba7ce79f4d61939c69b7a26bf507bae.jpg" alt="">
                        <p>吹风机</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/813d173eff50a83abb8abd5abde5f5a6.jpg" alt="">
                        <p>保温杯</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                        <p>小爱音箱</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/27074367aa02371a3c3c417c41195346.png" alt="">
                        <p>无线充电器</p>
                    </a>
                </div>

                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                        <p>小爱音箱</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/27074367aa02371a3c3c417c41195346.png" alt="">
                        <p>无线充电器</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="product-list">
            <div class="title">
                <h3><span class="iconfont iconarrow-down"></span> USB Fan</h3>
            </div>
            <div class="list-box">
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/afa28e7477639537f556eb46e3ca5f43.jpeg" alt="">
                        <p>Redmi 10X 4G</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d12361002299529816e7e0a6b74e0a25.jpg" alt="">
                        <p>Redmi 10X 5G 系列</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/cc563c76a7383d8030d1c23f31c60cb9.png" alt="">
                        <p>小米10 青春版</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/92b463f8e502e5d26ac488a252a05b58.jpg" alt="">
                        <p>Redmi K30 Pro</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/461bf013d08a7a91423cafcbc5ff9339.jpg" alt="">
                        <p>Redmi K30 Pro 变焦版</p>
                    </a>
                </div>

                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/3a3e4238b70ef8db89ae77f8a3762fc8.png" alt="">
                        <p>落地风扇</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/0bf0ba35dc3ad57115c59f0ebde0fd1d.jpg" alt="">
                        <p>料理机</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/4e9da27ebbeeb38078910c97173c4671.jpg" alt="">
                        <p>滑板车</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/50180b158690a40f9cbc684c7646d297.jpg" alt="">
                        <p>平衡车</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2cb10391d6527bf64126a63446a38e2e.jpg" alt="">
                        <p>早教启智</p>
                    </a>
                </div>

                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/59d3a701ac0bbb78f1b1d0ea7ebc7505.jpg" alt="">
                        <p>驱蚊器</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/bba7ce79f4d61939c69b7a26bf507bae.jpg" alt="">
                        <p>吹风机</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/813d173eff50a83abb8abd5abde5f5a6.jpg" alt="">
                        <p>保温杯</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                        <p>小爱音箱</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/27074367aa02371a3c3c417c41195346.png" alt="">
                        <p>无线充电器</p>
                    </a>
                </div>

                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                        <p>小爱音箱</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/27074367aa02371a3c3c417c41195346.png" alt="">
                        <p>无线充电器</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                        <p>小爱音箱</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/27074367aa02371a3c3c417c41195346.png" alt="">
                        <p>无线充电器</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="product-list">
            <div class="title">
                <h3><span class="iconfont iconarrow-down"></span> USB Fan</h3>
            </div>
            <div class="list-box">
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/afa28e7477639537f556eb46e3ca5f43.jpeg" alt="">
                        <p>Redmi 10X 4G</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d12361002299529816e7e0a6b74e0a25.jpg" alt="">
                        <p>Redmi 10X 5G 系列</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/cc563c76a7383d8030d1c23f31c60cb9.png" alt="">
                        <p>小米10 青春版</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/92b463f8e502e5d26ac488a252a05b58.jpg" alt="">
                        <p>Redmi K30 Pro</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/461bf013d08a7a91423cafcbc5ff9339.jpg" alt="">
                        <p>Redmi K30 Pro 变焦版</p>
                    </a>
                </div>

                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/3a3e4238b70ef8db89ae77f8a3762fc8.png" alt="">
                        <p>落地风扇</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/0bf0ba35dc3ad57115c59f0ebde0fd1d.jpg" alt="">
                        <p>料理机</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/4e9da27ebbeeb38078910c97173c4671.jpg" alt="">
                        <p>滑板车</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/50180b158690a40f9cbc684c7646d297.jpg" alt="">
                        <p>平衡车</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2cb10391d6527bf64126a63446a38e2e.jpg" alt="">
                        <p>早教启智</p>
                    </a>
                </div>

                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/59d3a701ac0bbb78f1b1d0ea7ebc7505.jpg" alt="">
                        <p>驱蚊器</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/bba7ce79f4d61939c69b7a26bf507bae.jpg" alt="">
                        <p>吹风机</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/813d173eff50a83abb8abd5abde5f5a6.jpg" alt="">
                        <p>保温杯</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                        <p>小爱音箱</p>
                    </a>
                </div>
                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/27074367aa02371a3c3c417c41195346.png" alt="">
                        <p>无线充电器</p>
                    </a>
                </div>

                <div class="list-item">
                    <a href="./product-detail.html">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                        <p>小爱音箱</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="g-top" id="g-top">
    <div class="box">
        <span class="iconfont iconyooxi"></span>
    </div>
</div>

<footer class="g-foot">
    <div class="foot">
        <div class="foot-item">
            <dl>
                <dt>STORE</dt>
                <dd><a href="#">Amazon</a></dd>
                <dd><a href="#">Newegg</a></dd>
                <dd><a href="#">eBay</a></dd>
            </dl>
            <dl>
                <dt>About</dt>
                <dd><a href="#">minthouz</a></dd>
                <dd><a href="#">User Agreement</a></dd>
                <dd><a href="#">Privacy Policy</a></dd>
            </dl>
            <dl>
                <dt>FIND US</dt>
                <dd><i class="iconfont iconicon-test1"></i> <a href="#"><span>Facebook</span></a></dd>
                <dd><i class="iconfont iconyoutube"></i> <a href="#"><span>Youtube</span></a></dd>
                <dd><i class="iconfont iconinstagram"></i> <a href="#"><span>Instagram</span></a></dd>
                <dd><i class="iconfont iconicon-test2"></i> <a href="#"><span>Twitter</span></a></dd>
            </dl>
        </div>

        <div class="foot-contact">
            <h3>Contact Us</h3>
            <p><span>before sales: </span> <a href="mailto:postsales@wavlink.com">postsales@wavlink.com</a></p>
            <p><span>after sales: </span> <a href="mailto:contact@wavlink.com">contact@wavlink.com</a></p>
        </div>

        <div class="contact">
            <div class="des">
                <h3>LET'S STAY IN TOUCH</h3>
                <p>Get updates on sales specials and more</p>
            </div>
            <form action="">
                <input type="email" id="email" placeholder="Enter Email Address">
                <input type="submit" value=">">
            </form>
        </div>
    </div>
</footer>

<script src="{{frontend}}/lib/JQuery/JQuery-3.4.0.js"></script>
<script src="{{frontend}}/lib/Swiper/swiper.min.js"></script>
<script src="{{frontend}}/mobile/js/public.js"></script>

<script>
    $(function () {
        $('.product-container .product-list .title h3').click(function () {
            $(this).parent('.title').siblings('.list-box').stop(true, false).slideToggle();
            $(this).find('.iconfont').toggleClass("iconarrow-down").toggleClass("iconarrow-up");
        })
    })
</script>
</body>
</html>