<header class="g-hd">

    <div class="hd">
        <div class="common-width">
            <div class="about">
                <span><a href="/">MINTHOUZ</a></span>
                <span><a href="/{$code}/about.html">About Us</a></span>
                <span><a href="#" target="_blank">Find Us on Facebook</a></span>
            </div>

            <div class="store">
                <span><a href="#" target="_blank">Amazon</a></span>
                <span><a href="#" target="_blank">Newegg</a></span>
            </div>
        </div>
    </div>

    <div class="nav" id="nav">
        <div class="common-width">
            <div class="logo">
                <h1>
                    <a href="/">
                        <img src="{$BaseSetting.logo}" alt="">
                    </a>
                </h1>
            </div>

            <div class="menu-box">
                <ul class="menu-list" id="menu-list">
                    <li class="menu-item">
                        <a class="item-link" href="/{$code}/product/index.html">All Products</a>

                        <!--<div class="all-category">
                            <ul class="category-list">
                                <li class="category-item">
                                    <a href="#">USB Fan</a> <span class="iconfont iconnext"></span>
                                    <div class="box">
                                    </div>
                                </li>
                                <li class="category-item"><a href="#">Table Lamp</a> <span class="iconfont iconnext"></span></li>
                                <li class="category-item"><a href="#">Holder</a> <span class="iconfont iconnext"></span></li>
                                <li class="category-item"><a href="#">Humidifier</a> <span class="iconfont iconnext"></span></li>
                                <li class="category-item"><a href="#">Aromatherapy Diffuse</a> <span class="iconfont iconnext"></span></li>
                                <li class="category-item"><a href="#">Others</a> <span class="iconfont iconnext"></span></li>
                            </ul>
                        </div>-->

                    </li>
                    {volist name="treeCategory" id="vo"}
                    <li class="menu-item">
                        <a class="item-link" href="/{$code}/product/index.html">{$vo.name}</a>
                        <div class="item-children">
                            <ul class="common-width">
                                <li class="children-list">
                                    <a href="/{$code}/product/hello/detail.html">
                                        <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                                        <p>Fan1</p>
                                    </a>
                                </li>
                                <li class="children-list">
                                    <a href="/{$code}/product/hello/detail.html">
                                        <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                                        <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                                    </a>
                                </li>
                                <li class="children-list">
                                    <a href="/{$code}/product/hello/detail.html">
                                        <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                                        <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                                    </a>
                                </li>
                                <li class="children-list">
                                    <a href="/{$code}/product/hello/detail.html">
                                        <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                                        <p>Rechargeable Battery Operated Fan With 3 Speeds Rechargeable Battery Operated Fan With 3 Speeds</p>
                                    </a>
                                </li>
                                <li class="children-list">
                                    <a href="/{$code}/product/hello/detail.html">
                                        <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                                        <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                                    </a>
                                </li>
                                <li class="children-list">
                                    <a href="/{$code}/product/hello/detail.html">
                                        <img src="//minthouz.oss-cn-shenzhen.aliyuncs.com/images/product/English/Fan1/Fan1.png" alt="">
                                        <p>Rechargeable Battery Operated Fan With 3 Speeds</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>

</header>