{extend name="mobile/common/base" /}
{block name="seo"}
<title>{$BaseSetting.title} - mintHouz</title>
<meta name="description" content="{$BaseSetting.description}">
<meta name="keywords" content="{$BaseSetting.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="{{frontend}}/lib/Swiper/swiper.min.css">
<link rel="stylesheet" href="{{frontend}}/mobile/css/page/Home.css">
{/block}

{block name="body"}
<div class="banner swiper-container">
    <div class=" swiper-wrapper">
        {volist name="banner" id="vo"}
        <div class="swiper-slide">
            <div class="img-box">
                <a href="{$vo.path}">
                    <img src="{$vo.mobile}" alt="">
                </a>
            </div>
        </div>
        {/volist}
    </div>
    <div class="swiper-pagination"></div><!--分页器-->
    <div class="swiper-button-prev"></div><!--左箭头-->
    <div class="swiper-button-next"></div><!--右箭头-->
</div>
<div class="hot">
    <div class="min-list">
        {volist name="hot" id="vo"}
        <div class="min-item">
            <a href="{$vo.path}"><img src="{$vo.mobile}" alt=""></a>
        </div>
        {/volist}
    </div>
</div>
<div class="star">
    <h3><span>STAR PRODUCTS</span></h3>
    <div class="star-list">
        <div class="left">
            <div class="star-item">
                <a href="{$starProduct[0]['path']}"><img src="{$starProduct[0]['mobile']}" alt=""></a>
            </div>
        </div>
        <div class="right">
            {volist name="starProduct" id="vo" offset='1' length="3"}
            <div class="star-item">
                <a href="{$vo.path}"><img src="{$vo.mobile}" alt=""></a>
            </div>
            {/volist}
        </div>
    </div>
</div>
<div class="video">
    <h3><span>VIDEOS</span></h3>
    <div class="video-container swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="play" href="javascript:void(0)" data-url="//china.wavlink.com/videos/690AD5.mp4" data-title="VITESSE - AC1900 High-speed Gaming WiFi Adapter with USB3.0 Dock">
                    <div class="img-box">
                        <img src="//china.wavlink.com/images/vitesse/VITESSE_AC1900.jpg" alt="...">
                        <div class="icon-box">
                            <span class="iconfont"></span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="play" href="javascript:void(0)" data-url="https://www.youtube.com/embed/ffpfdN4MxXk" data-title="Wavlink HALO Base AC1200 Dual-band Whole Home WiFi Mesh System with Touchlink">
                    <div class="img-box">
                        <img src="https://s3.amazonaws.com/files.wavlink.com/video/2020/01/wavlink_HALO_Base_AC1200.jpg" alt="...">
                        <div class="icon-box">
                            <span class="iconfont"></span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="play" href="javascript:void(0)" data-url="https://www.youtube.com/embed/sZl057HvSt0" data-title="Why Should Choose AERIAL X WiFi Range Extender?">
                    <div class="img-box">
                        <img src="https://s3.amazonaws.com/files.wavlink.com/video/2020/01/AERIAL_X.jpg" alt="...">
                        <div class="icon-box">
                            <span class="iconfont"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div><!--分页器-->
        <!--<div class="swiper-button-prev"></div>&lt;!&ndash;左箭头&ndash;&gt;
        <div class="swiper-button-next"></div>&lt;!&ndash;右箭头&ndash;&gt;-->
    </div>
</div>
{/block}
<!--私有业务开始-->
{block name="javascript"}
<script src="{{frontend}}/lib/layer/2.4/layer.js"></script>
<script src="{{frontend}}/lib/Swiper/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {    //可选选项，自动滑动
            delay: 8000,   //自动滑动间隔
            stopOnLastSlide: false,//如果设置为true，当切换到最后一个slide时停止自动切换。（loop模式下无效）。
            disableOnInteraction: false//用户操作swiper之后，是否禁止autoplay。默认为true：停止。
        },
        speed: 1000,
        pagination: {   //分页器
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {  //左右箭头
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            hideOnClick: true,
        },
        grabCursor: true,//鼠标变手
        parallax: true,//dl过度效果
    });

    $(function () {
        $('.play').click(function () {
            var url = $(this).attr('data-url');
            var title = $(this).attr('data-title');
            layer.open({
                type: 2,
                title: title,
                maxmin: true,
                shadeClose: true,
                area: ['98%', '400px'],
                content: url,
            })
        });
    })
</script>
{/block}
<!--私有业务结束-->