{extend name="desktop/common/base" /}
{block name="seo"}
<title>{$BaseSetting.title} - mintHouz</title>
<meta name="description" content="{$BaseSetting.description}">
<meta name="keywords" content="{$BaseSetting.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="{{frontend}}/desktop/css/page/Product-detail.css">
{/block}

{block name="body"}
<div class="product-container">
    <div class="product-nav">
        <div class="common-width">
            <h3>Rechargeable Battery Operated Fan With 3 Speeds</h3>
            <div class="sub_nav">
                <span class="active">Overview</span>
                <span>Specs</span>
                <span><a href="#">Shop at Amazon</a></span>
                <span><a href="#">Shop at Newegg</a></span>
            </div>
        </div>
    </div>

    <div class="product-Detail" id="product-Detail">
        {$data.content.desktop|raw}

        {$data.specifications}
    </div>

</div>
{/block}

<!--私有业务开始-->
{block name="javascript"}
<script>
    function productNav() {
        var document_sT = $(document).scrollTop(),
            hd = $('.g-hd .hd').height(),
            nav = $('.g-hd .nav').height();
        var gHd = hd + nav;
        if (document_sT > gHd) {
            $('.product-nav').addClass('nav-active');
            $('.product-Detail').css('paddingTop', '60px')
        }
        $(window).bind("scroll", function () {
            var document_sT = $(document).scrollTop();
            if (document_sT > gHd) {
                $('.product-nav').addClass('nav-active');
                $('.product-Detail').css('paddingTop', '60px')
            } else {
                $('.product-nav').removeClass('nav-active');
                $('.product-Detail').css('paddingTop', '0')
            }
        });
    }

    function navTableChange () {
        var navH = $(".product-nav").innerHeight();
        var subNav = $('.sub_nav span'),
            overviewDom = $('.product-Detail');
        function animateScroll (that) {
            var index = that.index();
            if(index<=1){
                var div_height = overviewDom.children('div').eq(index).offset().top || 0;
                var scroll_top = div_height - navH;
                that.siblings('span').removeClass('active');
                that.addClass('active');
                $("html,body").animate({"scrollTop":scroll_top},300);
            }
        }
        subNav.click(function () {
            animateScroll($(this))
        });
    }

    $(function () {
        productNav();
        navTableChange()
    });
</script>
{/block}
<!--私有业务结束-->
