{extend name="desktop/common/base" /}
<title>{$data.title} - mintHouz</title>
{block name="seo"}
<meta name="description" content="{$data.description}">
<meta name="keywords" content="{$data.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="{{frontend}}/desktop/css/page/Product-detail.css">
<style>
    /* 字体大小 */
    @media screen and (max-width:767px) and (min-width:318px){
        div#Detail_page_all > div.container-fluid > div.row strong { font-size:1.2em !important }
        div#Detail_page_all > div.container-fluid > div.row p { font-size:1em;color:#888 !important }
    }
    @media screen and (width:768px){
        div#Detail_page_all > div.container-fluid > div.row strong { font-size:1.2em !important }
        div#Detail_page_all > div.container-fluid > div.row p { font-size:1em  }
    }
    @media screen and (max-width:1366px) and (min-width:1024px){
        div#Detail_page_all > div.container-fluid > div.row strong { font-size:1.5em !important }
        div#Detail_page_all > div.container-fluid > div.row p { font-size:1em  }
    }
    @media screen and (width:1366px){
        div#Detail_page_all > div.container-fluid > div.row strong { font-size:2em !important ;font-weight: bold}
        div#Detail_page_all > div.container-fluid > div.row p { font-size:1.25em  }
    }
    @media screen and (min-width:1367px){
        div#Detail_page_all > div.container-fluid > div.row strong { font-size:2.5em !important ;font-weight: bold}
        div#Detail_page_all > div.container-fluid > div.row p { font-size:1.5em  }
    }
    div#Detail_page_all > div.container-fluid > div.row strong {
        display:inline-block;
        margin-bottom:2%;
    }

    .img-responsive { display: block; max-width: 100%; height: auto; }
    .center-block { margin-left: auto; margin-right: auto; }
    .relative { position: relative; }
    .absolute { position: absolute; z-index: 1; }
    .text-center { text-align: center; }

    @media screen and (max-width: 767px) {
        .col-xs-1 { width: 8.333333% }
        .col-xs-2 { width: 16.666666% }
        .col-xs-3 { width: 25% }
        .col-xs-4 { width: 33.333333% }
        .col-xs-5 { width: 41.666666% }
        .col-xs-6 { width: 50% }
        .col-xs-7 { width: 58.333333% }
        .col-xs-8 { width: 66.666666% }
        .col-xs-9 { width: 75% }
        .col-xs-10 { width: 83.333333% }
        .col-xs-11 { width: 91.666666% }
        .col-xs-12 { width: 100% }
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
        .col-sm-1 { width: 8.333333% }
        .col-sm-2 { width: 16.666666% }
        .col-sm-3 { width: 25% }
        .col-sm-4 { width: 33.333333% }
        .col-sm-5 { width: 41.666666% }
        .col-sm-6 { width: 50% }
        .col-sm-7 { width: 58.333333% }
        .col-sm-8 { width: 66.666666% }
        .col-sm-9 { width: 75% }
        .col-sm-10 { width: 83.333333% }
        .col-sm-11 { width: 91.666666% }
        .col-sm-12 { width: 100% }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .col-md-1 { width: 8.333333% }
        .col-md-2 { width: 16.666666% }
        .col-md-3 { width: 25% }
        .col-md-4 { width: 33.333333% }
        .col-md-5 { width: 41.666666% }
        .col-md-6 { width: 50% }
        .col-md-7 { width: 58.333333% }
        .col-md-8 { width: 66.666666% }
        .col-md-9 { width: 75% }
        .col-md-10 { width: 83.333333% }
        .col-md-11 { width: 91.666666% }
        .col-md-12 { width: 100% }
    }
    @media screen and (min-width: 1199px) {
        .col-lg-1 { width: 8.333333% }
        .col-lg-2 { width: 16.666666% }
        .col-lg-3 { width: 25% }
        .col-lg-4 { width: 33.333333% }
        .col-lg-5 { width: 41.666666% }
        .col-lg-6 { width: 50% }
        .col-lg-7 { width: 58.333333% }
        .col-lg-8 { width: 66.666666% }
        .col-lg-9 { width: 75% }
        .col-lg-10 { width: 83.333333% }
        .col-lg-11 { width: 91.666666% }
        .col-lg-12 { width: 100% }
    }

    .detail_page_one>.detail_page_text_cont{top: 10%;left: 24.9%;}
    .detail_page_two>.detail_page_text_cont{top: 10%;left: 24.9%;}
    .detail_page_three>.detail_page_text_cont{top: 25%;right: 4.15%;}
    .detail_page_four>.detail_page_text_cont{top: 10%;left: 8%;}
    .detail_page_five>.detail_page_text_cont{top: 10%;left: 8%;}
    .detail_page_six>.detail_page_text_cont{top: 10%;right: 24.9%;}
    .detail_page_seven>.detail_page_text_cont{top: 10%;right: 24.9%;}
    .detail_page_eight>.detail_page_text_cont{top: 10%;left: 24.9%;}
    @media screen and (min-width:992px) and (max-width: 1199px) {
        .detail_page_one>.detail_page_text_cont{top: 10%;left: 16.6%;}
        .detail_page_two>.detail_page_text_cont{top: 10%;left: 16.6%;}
        .detail_page_three>.detail_page_text_cont{top: 20%;right: 4.15%;}
        .detail_page_four>.detail_page_text_cont{top: 10%;left: 8%;}
        .detail_page_five>.detail_page_text_cont{top: 10%;left: 8%;}
        .detail_page_six>.detail_page_text_cont{top: 10%;right: 16.6%;}
        .detail_page_seven>.detail_page_text_cont{top: 5%;right: 16.6%;}
        .detail_page_eight>.detail_page_text_cont{top: 7%;left: 16.6%;}
    }
    @media screen and (min-width:768px) and (max-width: 991px) {
        .detail_page_one>.detail_page_text_cont{top: 10%;left: 8.3%;}
        .detail_page_two>.detail_page_text_cont{top: 10%;left: 8.3%;}
        .detail_page_three>.detail_page_text_cont{top: 5%;right: 4.15%;}
        .detail_page_four>.detail_page_text_cont{top: 10%;left: 8%;}
        .detail_page_five>.detail_page_text_cont{top: 10%;left: 8%;}
        .detail_page_six>.detail_page_text_cont{top: 10%;right: 8.3%;}
        .detail_page_seven>.detail_page_text_cont{top: 5%;right: 8.3%;}
        .detail_page_eight>.detail_page_text_cont{top: 7%;left: 8.3%;}
    }
    @media screen and (max-width:767px){
        .detail_page_text_cont{background: #fff!important;text-align: left;padding: 0 15px!important;position:static!important}
    }
</style>
{/block}

{block name="body"}
<div class="product-container">
    <div class="product-nav">
        <div class="common-width">
            <h3>Mi Sphere Camera Kit</h3>
            <div class="sub_nav">
                <span class="active">Overview</span>
                <span>Specs</span>
                <span><a href="#">Shop at Amazon</a></span>
                <span><a href="#">Shop at Newegg</a></span>
            </div>
        </div>
    </div>

    <div class="product-Overview common-width">
        <div id="Detail_page_all">
            <div class="container-fluid">
                <div class="row">
                    <!--one-->
                    <section>
                        <div class="detail_page_one relative">
                            <div class="detail_page_text_cont absolute text-center col-lg-6 col-md-8 col-sm-10 col-xs-12">
                                <strong>A Router, also an Artwork</strong>
                                <p>
                                    <br />
                                </p>
                            </div>
                            <div class="detail_page_img_content">
                                <img class="img-responsive center-block" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=b65aJRzFxJia839JJuuChAyJvGCOBwB_l74PS3q0riX3-ARNaZ2_Fymty5rtV5Qz0WiMX8_7d1iMzh2l_HafjbMK_bwzOuyUwxyj8HDNm_cnPZHGrRbGhErhG4e64HOj_6PepW7u9pyF9MVRQFG1mFdwYudiikWgdWA&file_name=/1.jpg" />
                            </div>
                        </div>
                    </section>
                    <!--two-->
                    <section>
                        <div class="detail_page_two relative">
                            <div class="detail_page_text_cont absolute text-center col-lg-6 col-md-8 col-sm-10 col-xs-12">
                                <strong>Minimalist, Perfect, Eternal</strong>
                                <p>
                                    <br />
                                </p>
                            </div>
                            <div class="detail_page_img_content">
                                <img class="img-responsive center-block" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=f107soyDDzg35HgPIY4uiE7hm62u2iNOUARGx6L5c6-c_XUEqRtCwLeMfEe1FeVdjVhN6RGIgKrntY1cmcvbjWRi0QXgJvws1hhMd3d-ONMGbodhhrLHux9FKByavWKjU-DGspJO2vQK2Kkrkrqp2fNd-L2LW3MiC5k&file_name=/2.jpg" />
                            </div>
                        </div>
                    </section>
                    <!--three-->
                    <section>
                        <div class="detail_page_three relative">
                            <div class="detail_page_text_cont absolute col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <strong>Jacob Jensen</strong>
                                <p>
                                    Jacob Jensen was a prominent Danish Industrial designer, his Nordic minimalism style design with Bang &amp; Olufsen had influenced Danish Modern Movement extensively. Quantum DAX is one outstanding paradigm of his minimalism masterpiece with powerful performance and design of understated elegance and luxury.
                                </p>
                            </div>
                            <div class="detail_page_img_content">
                                <img class="img-responsive center-block" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=2a30YntbwJnP1cvE8mhkybhufd7EnAgHb-m5eBNFlH8e2_QFsUFK08RPNM4tvyzBOAwM2FtBA-7c9rIkLgC_aIfGHkMPlZ7WNMkxNQaYtQ3-S4feBRz-LwuOG3Fqjmm6dY270eAuxKnflkcWTDfNMMrOJc_mxr7DtCA&file_name=/3.jpg" />
                            </div>
                        </div>
                    </section>
                    <!--four-->
                    <section>
                        <div class="detail_page_four relative">
                            <div class="detail_page_text_cont absolute col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <strong>A Strong Core, A Powerful Router</strong>
                                <p>
                                    <br />
                                </p>
                            </div>
                            <div class="detail_page_img_content">
                                <img class="img-responsive center-block" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=2ed6-w8SmAQ78lMDu_0HoiGkttm5xBAHC5gL0FF13vPuRcCS6JJn750m0aFDux3U9UO_7LMiJVxV8CLNiNFLpar6dXh_T5xsZHPpiOeAEwgdXGvw9uriu7F5wQPYDTKlaPl4mdnP1q5Nl9yLd8uyOTipm4nXEuhjFj8&file_name=/4.jpg" />
                            </div>
                        </div>
                    </section>
                    <!--five-->
                    <section>
                        <div class="detail_page_five relative">
                            <div class="detail_page_text_cont absolute col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                <strong>LCD Screen Displays Key Info</strong>
                                <p>
                                    All product relevant information is Visible on the LCD screen.
                                </p>
                            </div>
                            <div class="detail_page_img_content">
                                <img class="img-responsive center-block" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=fb1emRLBaB3tGQeetPZiH0oXZr2SlM0HbwAsbW6_8_7t5-EJVSzZE4u1UKa8vr8XA8D_9StLsj9ujVDv-DZIMAFwYsdMbOOG-ldbHy3KQhXu70dZdvR4kTIDUYCrZE41NCmUj1o4ALFg9xSlnNIJqP2vo2Siwtjo7Ko&file_name=/5.jpg" />
                            </div>
                        </div>
                    </section>
                    <!--six-->
                    <section>
                        <div class="detail_page_six relative">
                            <div class="detail_page_text_cont absolute text-center col-lg-6 col-md-8 col-sm-10 col-xs-12">
                                <strong>True Gigabit, Beyond Fast High Power, Beyond Strong</strong>
                                <p>
                                    <br />
                                </p>
                            </div>
                            <div class="detail_page_img_content">
                                <img class="img-responsive center-block" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=a110aDMz2zIL6ox00SjXRu6pnHNem-otczO5zKlKuudBpA1fgwDJhw9GkDvtGFM0eMDppuEmiQPZ2avjp24w8y_65IzpkSR2fq3HjkQDsGXuM5MF_WEffNQEkoZGjgtv-nkkzK8J0c3inrM2WJscM8fA7pUUjIGvfEU&file_name=/6.jpg" />
                            </div>
                        </div>
                    </section>
                    <!--seven-->
                    <section>
                        <div class="detail_page_seven relative">
                            <div class="detail_page_text_cont absolute text-center col-lg-6 col-md-8 col-sm-10 col-xs-12">
                                <strong>Protect Online Safety Filter Inappropriate Content</strong>
                                <p>
                                    DAX protects your family from improper content, especially giving your children a healthier and safer online experience.
                                </p>
                            </div>
                            <div class="detail_page_img_content">
                                <img class="img-responsive center-block" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=505ekAjxSlDaQ7_Akwarv1-scrE6SrkOwl6T02f2LAaPrhtZo8PE41W-_uuqSi3PlidEyDbnBKnAtNbb-AMt6e5u8ZGODft28JoJLvg7HgAsOKmlZ8gMGBXMhLRy8qEw4udnyrntX57h3ksDpnoII9702JweZb7J4NO6HH52&file_name=/7_new.jpg" />
                            </div>
                        </div>
                    </section>
                    <!--eight-->
                    <section>
                        <div class="detail_page_eight relative">
                            <div class="detail_page_text_cont absolute text-center col-lg-6 col-md-8 col-sm-10 col-xs-12">
                                <strong>Flush Your Heat Away!</strong>
                                <p>
                                    With the help of interior dissipation board, DAX assures you a longer lifespan.
                                </p>
                            </div>
                            <div class="detail_page_img_content">
                                <img class="img-responsive center-block" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=f1a03BfZitzCibTcWYW3REcKslvyzVA76Wu2i8BZXakwbQLXcVQS0tNLDktzyiE7PdgY6xLIWpZisdymPIsTZv670g7892XHNSDors0zBHiZiXgXiEshIUJOd4Ywid--bASgT4InDSEN-JEs1MvO6E__Xkja2HC4fOA&file_name=/8.jpg" />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="product-Specifications">
        <div class="offset-box" id="specification">
            <ul>
                <li class="li_title">
                    <strong>TECHNICAL SPECIFICATIONS</strong>
                </li>
                <li>
                    <strong>Model</strong>
                    <div>
                        <p>WN531A6</p>
                    </div>
                </li>
                <li>
                    <strong>Ports</strong>
                    <div>
                        <p>1 x 10/100/1000Mbps WAN</p>
                        <p>4 x 10/100/1000Mbps LAN</p>
                        <p>1 x USB 3.0</p>
                        <p>1 x DC Power Jack Port</p>
                    </div>
                </li>
                <li>
                    <strong>Buttons</strong>
                    <div>
                        <p>1 x Power On/Off button</p>
                        <p>1 x Reset button</p>
                        <p>1 x WPS button</p>
                        <p>1 x TURBO button</p>
                        <p>1 x Touch cover button</p>
                    </div>
                </li>
                <li>
                    <strong>LED</strong>
                    <div>
                        <p>1 x WiFi</p>
                        <p>1 x WAN</p>
                        <p>4 x LAN</p>
                        <p>1 x Power</p>
                        <p>1 x Logo</p>
                    </div>
                </li>
                <li>
                    <strong>Power Supply</strong>
                    <div>
                        <p>DC5V / 3A</p>
                    </div>
                </li>
                <li>
                    <strong>Rated Voltage / Frequency</strong>
                    <div>
                        <p>input:100-240 Va.c. 50/60Hz</p>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="li_title">
                    <strong>DIMENSIONS</strong>
                </li>
                <li>
                    <strong>Unit Dimensions</strong>
                    <div>
                        <p>200mm x 200mm x 30mm ( L x W x H )</p>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="li_title">
                    <strong>WIRELESS</strong>
                </li>
                <li>
                    <strong>Standard</strong>
                    <div>
                        <p>IEEE 802.11a/b/g/n/ac</p>
                    </div>
                </li>
                <li>
                    <strong>Speed</strong>
                    <div>
                        <p>IEEE 802.11ac: up to 1733Mbps</p>
                        <p>IEEE 802.11n: up to 300Mbps</p>
                        <p>IEEE 802.11g: 54Mbps</p>
                        <p>IEEE 802.11b: 11Mbps</p>
                        <p>IEEE 802.11a: up to 54Mbps</p>
                    </div>
                </li>
                <li>
                    <strong>Frequency Band</strong>
                    <div>
                        <p>2.4GHz, 5GHz</p>
                    </div>
                </li>
                <li>
                    <strong>Wireless Security</strong>
                    <div>
                        <p>WPA-PSK/ WPA2-PSK encryption</p>
                    </div>
                </li>
                <li>
                    <strong>Antennas</strong>
                    <div>
                        <p>6 x 5dBi Omni Directional Antennas</p>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="li_title">
                    <strong>PACKAGE</strong>
                </li>
                <li>
                    <strong>In The Box</strong>
                    <div>
                        <p>1 x Wireless Router</p>
                        <p>1 x RJ45 Networking Cable</p>
                        <p>1 x Power Adapter</p>
                        <p>1 x Quick Guide</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{/block}

<!--私有业务开始-->
{block name="javascript"}
<script>
    function productNav() {
        var document_sT = $(document).scrollTop(),
            hd = $('.g-hd .hd').height(),
            nav = $('.g-hd .nav').height();
        var gHd = hd + nav;
        if (document_sT > gHd) {
            $('.product-nav').addClass('nav-active');
            $('.product-Overview').css('paddingTop', '60px')
        }
        $(window).bind("scroll", function () {
            var document_sT = $(document).scrollTop();
            if (document_sT > gHd) {
                $('.product-nav').addClass('nav-active');
                $('.product-Overview').css('paddingTop', '60px')
            } else {
                $('.product-nav').removeClass('nav-active');
                $('.product-Overview').css('paddingTop', '0')
            }
        });
    }
    function navTableChange () {
        var subNav = $('.sub_nav span'),
            overviewDom = $('.product-Overview'),
            SpecificationsDom = $('.product-Specifications');
        subNav.click(function () {
            var a = $(this).index();
            if (a === 0) {
                overviewDom.css('display', 'block');
                $(this).addClass('active');
                SpecificationsDom.css('display', 'none');
                $(this).siblings('span').removeClass('active');
            } else if (a === 1) {
                overviewDom.css('display', 'none');
                $(this).addClass('active');
                SpecificationsDom.css('display', 'block');
                $(this).siblings('span').removeClass('active');
            }
        });
    }
    $(function () {
        productNav();
        navTableChange()
    });
</script>
{/block}
<!--私有业务结束-->