{extend name="desktop/common/base" /}
{block name="seo"}
<title>{$BaseSetting.title} - mintHouz</title>
<meta name="description" content="{$BaseSetting.description}">
<meta name="keywords" content="{$BaseSetting.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="{{frontend}}/desktop/css/page/Product-detail.css">
{/block}

{block name="body"}
<div class="product-container">
    <div class="product-nav">
        <div class="common-width">
            <h3>{$data.title}</h3>
            <div class="sub_nav">
                <span class="active">Overview</span>
<!--                <span>Specs</span>-->
<!--                <span><a href="#">Shop at Amazon</a></span>-->
<!--                <span><a href="#">Shop at Newegg</a></span>-->
            </div>
        </div>
    </div>

    <div class="product-Detail" id="product-Detail">
        {$data.content.desktop|raw}

        {$data.specifications}
    </div>

</div>
{/block}

<!--私有业务开始-->
{block name="javascript"}
{/block}
<!--私有业务结束-->
