{extend name="desktop/common/base" /}
{block name="seo"}
<title>{$BaseSetting.title} - mintHouz</title>
<meta name="description" content="{$BaseSetting.description}">
<meta name="keywords" content="{$BaseSetting.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="{{frontend}}/desktop/css/page/Product-list.css">
{/block}

{block name="body"}
<div class="g-path">
    <div class="common-width">
        <ul>
            <li><a href="/">Home</a></li>
            <li> > </li>
            <li><a href="/{$code}/product/index.html">Product</a></li>
        </ul>
    </div>
</div>
<div class="product-container">
    {volist name="data" id="vo"}
    <div class="product-list common-width">
        <div class="title">
            <h3><span class="iconfont iconarrow-down"></span>{$vo.name}</h3>
        </div>
        {notempty name="vo.products"}
        <div class="list-box">
            {volist name="vo.products" id="lo"}
            <div class="list-item">
                <a href="/{$code}/product/{$lo.url_title}/detail.html" title="{$lo.title}">
                    <img src="{$lo.thumbnail}" alt="">
                    <p>{$lo.title}</p>
                </a>
            </div>
            {/volist}
        </div>
        {/notempty}
        {empty name="vo.products"}
        <div class="product-empty list-box">
            暂无数据
        </div>
        {/empty}
    </div>
    {/volist}
</div>
{/block}

<!--私有业务开始-->
{block name="javascript"}
<script>
    $(function () {
        $('.product-container .product-list .title h3').click(function () {
            $(this).parent('.title').siblings('.list-box').stop(true, false).slideToggle();
            $(this).find('.iconfont').toggleClass("iconarrow-down").toggleClass("iconarrow-up");
        })
    })
</script>
{/block}
<!--私有业务结束-->
