{extend name="desktop/common/base" /}
{block name="seo"}
<title>{$BaseSetting.title} - mintHouz</title>
<meta name="description" content="{$BaseSetting.description}">
<meta name="keywords" content="{$BaseSetting.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="{{frontend}}/desktop/css/page/Product-list.css">
{/block}

{block name="body"}
<div class="g-path">
    <div class="common-width">
        <ul>
            <li><a href="/">Home</a></li>
            <li> > </li>
            <li><a href="/{$code}/product/index.html">Product</a></li>
        </ul>
    </div>
</div>
<div class="product-container">
    <div class="product-list common-width">
        <div class="title">
            <h3><span class="iconfont iconarrow-down"></span> USB Fan</h3>
        </div>
        <div class="list-box">
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/afa28e7477639537f556eb46e3ca5f43.jpeg" alt="">
                    <p>Redmi 10X 4G</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d12361002299529816e7e0a6b74e0a25.jpg" alt="">
                    <p>Redmi 10X 5G 系列</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/cc563c76a7383d8030d1c23f31c60cb9.png" alt="">
                    <p>小米10 青春版</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/92b463f8e502e5d26ac488a252a05b58.jpg" alt="">
                    <p>Redmi K30 Pro</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/461bf013d08a7a91423cafcbc5ff9339.jpg" alt="">
                    <p>Redmi K30 Pro 变焦版</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/3a3e4238b70ef8db89ae77f8a3762fc8.png" alt="">
                    <p>落地风扇</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/0bf0ba35dc3ad57115c59f0ebde0fd1d.jpg" alt="">
                    <p>料理机</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/4e9da27ebbeeb38078910c97173c4671.jpg" alt="">
                    <p>滑板车</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/50180b158690a40f9cbc684c7646d297.jpg" alt="">
                    <p>平衡车</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2cb10391d6527bf64126a63446a38e2e.jpg" alt="">
                    <p>早教启智</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/59d3a701ac0bbb78f1b1d0ea7ebc7505.jpg" alt="">
                    <p>驱蚊器</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/bba7ce79f4d61939c69b7a26bf507bae.jpg" alt="">
                    <p>吹风机</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/813d173eff50a83abb8abd5abde5f5a6.jpg" alt="">
                    <p>保温杯</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                    <p>小爱音箱</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/27074367aa02371a3c3c417c41195346.png" alt="">
                    <p>无线充电器</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                    <p>小爱音箱</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/27074367aa02371a3c3c417c41195346.png" alt="">
                    <p>无线充电器</p>
                </a>
            </div>
        </div>
    </div>
    <div class="product-list common-width">
        <div class="title">
            <h3><span class="iconfont iconarrow-down"></span> USB Fan</h3>
        </div>
        <div class="list-box">
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/afa28e7477639537f556eb46e3ca5f43.jpeg" alt="">
                    <p>Redmi 10X 4G</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d12361002299529816e7e0a6b74e0a25.jpg" alt="">
                    <p>Redmi 10X 5G 系列</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/cc563c76a7383d8030d1c23f31c60cb9.png" alt="">
                    <p>小米10 青春版</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/92b463f8e502e5d26ac488a252a05b58.jpg" alt="">
                    <p>Redmi K30 Pro</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/461bf013d08a7a91423cafcbc5ff9339.jpg" alt="">
                    <p>Redmi K30 Pro 变焦版</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/3a3e4238b70ef8db89ae77f8a3762fc8.png" alt="">
                    <p>落地风扇</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/0bf0ba35dc3ad57115c59f0ebde0fd1d.jpg" alt="">
                    <p>料理机</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/4e9da27ebbeeb38078910c97173c4671.jpg" alt="">
                    <p>滑板车</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/50180b158690a40f9cbc684c7646d297.jpg" alt="">
                    <p>平衡车</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2cb10391d6527bf64126a63446a38e2e.jpg" alt="">
                    <p>早教启智</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/59d3a701ac0bbb78f1b1d0ea7ebc7505.jpg" alt="">
                    <p>驱蚊器</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/bba7ce79f4d61939c69b7a26bf507bae.jpg" alt="">
                    <p>吹风机</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/813d173eff50a83abb8abd5abde5f5a6.jpg" alt="">
                    <p>保温杯</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                    <p>小爱音箱</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/27074367aa02371a3c3c417c41195346.png" alt="">
                    <p>无线充电器</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                    <p>小爱音箱</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/27074367aa02371a3c3c417c41195346.png" alt="">
                    <p>无线充电器</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                    <p>小爱音箱</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/27074367aa02371a3c3c417c41195346.png" alt="">
                    <p>无线充电器</p>
                </a>
            </div>
        </div>
    </div>
    <div class="product-list common-width">
        <div class="title">
            <h3><span class="iconfont iconarrow-down"></span> USB Fan</h3>
        </div>
        <div class="list-box">
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/afa28e7477639537f556eb46e3ca5f43.jpeg" alt="">
                    <p>Redmi 10X 4G</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d12361002299529816e7e0a6b74e0a25.jpg" alt="">
                    <p>Redmi 10X 5G 系列</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/cc563c76a7383d8030d1c23f31c60cb9.png" alt="">
                    <p>小米10 青春版</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/92b463f8e502e5d26ac488a252a05b58.jpg" alt="">
                    <p>Redmi K30 Pro</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/461bf013d08a7a91423cafcbc5ff9339.jpg" alt="">
                    <p>Redmi K30 Pro 变焦版</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/3a3e4238b70ef8db89ae77f8a3762fc8.png" alt="">
                    <p>落地风扇</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/0bf0ba35dc3ad57115c59f0ebde0fd1d.jpg" alt="">
                    <p>料理机</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/4e9da27ebbeeb38078910c97173c4671.jpg" alt="">
                    <p>滑板车</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/50180b158690a40f9cbc684c7646d297.jpg" alt="">
                    <p>平衡车</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2cb10391d6527bf64126a63446a38e2e.jpg" alt="">
                    <p>早教启智</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/59d3a701ac0bbb78f1b1d0ea7ebc7505.jpg" alt="">
                    <p>驱蚊器</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/bba7ce79f4d61939c69b7a26bf507bae.jpg" alt="">
                    <p>吹风机</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/813d173eff50a83abb8abd5abde5f5a6.jpg" alt="">
                    <p>保温杯</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                    <p>小爱音箱</p>
                </a>
            </div>
            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/27074367aa02371a3c3c417c41195346.png" alt="">
                    <p>无线充电器</p>
                </a>
            </div>

            <div class="list-item">
                <a href="/{$code}/product/hello/detail.html">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/374ce749560e0e74a792b6222048a472.png" alt="">
                    <p>小爱音箱</p>
                </a>
            </div>
        </div>
    </div>
</div>
{/block}

<!--私有业务开始-->
{block name="javascript"}
<script>
    $(function () {
        $('.product-container .product-list .title h3').click(function () {
            $(this).parent('.title').siblings('.list-box').stop(true, false).slideToggle();
            $(this).find('.iconfont').toggleClass("iconarrow-down").toggleClass("iconarrow-up");
        })
    })
</script>
{/block}
<!--私有业务结束-->