<footer class="g-foot">
    <div class="foot">
        <div class="foot-item">
            <dl>
                <dt>STORE</dt>
                <dd><a href="#">Amazon</a></dd>
                <dd><a href="#">Newegg</a></dd>
                <dd><a href="#">eBay</a></dd>
            </dl>
            <dl>
                <dt>About</dt>
                <dd><a href="#">minthouz</a></dd>
                <dd><a href="#">User Agreement</a></dd>
                <dd><a href="#">Privacy Policy</a></dd>
            </dl>
            <dl>
                <dt>FIND US</dt>
                <dd><i class="iconfont iconicon-test1"></i> <a href="#"><span>Facebook</span></a></dd>
                <dd><i class="iconfont iconyoutube"></i> <a href="#"><span>Youtube</span></a></dd>
                <dd><i class="iconfont iconinstagram"></i> <a href="#"><span>Instagram</span></a></dd>
                <dd><i class="iconfont iconicon-test2"></i> <a href="#"><span>Twitter</span></a></dd>
            </dl>
        </div>

        <div class="foot-contact">
            <h3>Contact Us</h3>
            <p><span>before sales: </span> <a href="mailto:postsales@wavlink.com">postsales@wavlink.com</a></p>
            <p><span>after sales: </span> <a href="mailto:contact@wavlink.com">contact@wavlink.com</a></p>
        </div>

        <div class="contact">
            <div class="des">
                <h3>LET'S STAY IN TOUCH</h3>
                <p>Get updates on sales specials and more</p>
            </div>
            <form action="">
                <input type="email" id="email" placeholder="Enter Email Address">
                <input type="submit" value=">">
            </form>
        </div>
    </div>
</footer>